/*
Copyright © Ditpowuh 2018 Copyright Holder All Rights Reserved | All comments are from me
*/

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.pixeltext {
  font-family: "Press Start 2P", monospace;
}

.link {
  text-decoration: underline;
  color: lightblue;
}

.link:hover {
  text-decoration: underline;
  color: blue;
}

.link:active {
  text-decoration: underline;
  color: orange;
}
