/*
Copyright © Ditpowuh 2018 Copyright Holder All Rights Reserved | All comments are from me
*/

body {
  background-color: black;
}

br {
  text-align: center;
}

p.br {
  text-align: right;
}

.wrapper {
  text-align: center;
}
